<template>
  <div id="app">
    <VueSearchBar></VueSearchBar>
  </div>
</template>

<script>
import VueSearchBar from './components/VueSearchBar.vue';
export default {
  components: {
    VueSearchBar,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>